*.pyc
*~
nosetests.xml
.ipynb*
*sublime-project
*sublime-workspace
*.dvi
*.ps
*.fls
*synctex.gz
.env
lenin.log
config.py
log/*
data/*
lenin_work*
lenin_data.json
.coverage
htmlcov/*
*.bak
*.log
dump/
stats/
*.out
*.swp
*.pdf
*.aux
*latexmk
