#Uso [sudo] pip install -r requirements
# Para instalar pip: [sudo] apt-get install python-pip
BeautifulSoup==3.2.1
#Cairoplot==1.2
#PyUblas==2013.1
PyYAML==3.10
argparse==1.2.1
coverage==3.6
#ipython==0.13.2
ipython
ipdb==0.7
#matplotlib==1.2.1
matplotlib
mock==1.0.1
nltk==2.0.4
numpy==1.7.1
pymongo==2.5.1
pytest==2.3.5
scipy
Ming==0.3.6
#nose extends unittest to make testing easier
nose==1.3.0
Scrapy
